body {
  background-color: #333;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 5px #ccc;
  font-size: 50px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  width: 500px;
  margin-bottom: 20px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.form-container button {
  width: 80px;
  height: 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.form-container button:hover {
  background-color: #fff;
  color: #333;
  box-shadow: 2px 2px 5px #ccc;
}

.text-display {
  color: #333;
  font-size: 22px;
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}
